---
- name: Update the cache and perform a full upgrade
  ansible.builtin.apt:
    update_cache: true
    upgrade: yes

- name: Remove unneeded packages and old dependencies
  ansible.builtin.apt:
    autoremove: true
    autoclean: true

- name: Check if reboot required
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: reboot_required_result

- name: Debug Reboot Required
  ansible.builtin.debug:
    var: reboot_required_result.stat.exists

- name: Reboot the server
  ansible.builtin.reboot:
    msg: "System reboot for updates."
  become: true
  when: reboot_required_result.stat.exists

- name: Temporary check the status of my services running in docker
  ansible.builtin.command:
    cmd: sudo docker ps
