# Install packages for Ubuntu
---
- name: Update the package manager's cache
  ansible.builtin.apt:
    update_cache: true
  tags: always

- name: Install Packages
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: present
  tags: always
